<div ng-controller="listController">
    <ons-toolbar fixed-style class="mainNav">
        <div class="left" ng-click="menu.setMainPage('question.html' , { closeMenu: true } );">
            <ons-toolbar-button>
                <ons-icon icon="ion-chevron-left"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center" onclick="menu.toggleMenu()">
            <div class="center c_white">マイページ</div>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.setMainPage('notice.html' , { closeMenu: true } );">
                <ons-icon icon="fa-bell">5</ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button onclick="menu.toggleMenu()">
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list>
        <ons-list-header style="background-color: #F2EFEF; padding:10px; font-weight: bold;">
        </ons-list-header>

        <ons-list-item>
            <ons-list class="bg_green">
                <ons-list-item ng-click="toQuestionPage();">
                    <div>
                        塩が答えになる問題を作りなさい。
                    </div>
                    <div>
                    	<table>
                    	<tr>
                    	<td>
                        <img src="img/answers/mitsuni.jpg" class="halfImg" width="20px" height="20px">
                        12
                        </td>
                        <td>
                        <img src="img/answers/mitsuni.jpg" class="halfImg" width="20px" height="20px">
                        2
                        </td>
                        </tr>
                        </table>
                    </div>
                </ons-list-item>

                <ons-list-item ng-click="toQuestionPage();">
                    <div>
                        くじらが答えになる問題を作りなさい。
                    </div>
                    <div>
                    	<table>
                    	<tr>
                    	<td>
                        <img src="img/answers/mitsuni.jpg" class="halfImg" width="20px" height="20px">
                        1
                        </td>
                        <td>
                        <img src="img/answers/mitsuni.jpg" class="halfImg" width="20px" height="20px">
                        22
                        </td>
                        </tr>
                        </table>
                    </div>
                </ons-list-item>

                <ons-list-item ng-click="toQuestionPage();">
                    <div>
                        500円の文章題
                    </div>
                    <div>
                    	<table>
                    	<tr>
                    	<td>
                        <img src="img/answers/mitsuni.jpg" class="halfImg" width="20px" height="20px">
                        33
                        </td>
                        <td>
                        <img src="img/answers/mitsuni.jpg" class="halfImg" width="20px" height="20px">
                        5
                        </td>
                        </tr>
                        </table>
                    </div>
                </ons-list-item>

                <ons-list-item>
                    <div>
                        ・・・
                    </div>
                    <br clear="all">

                    <label class="checkbox" style="float:left; margin-right:10px;">
                        <input type="checkbox" checked/>
                    </label>
                </ons-list-item>

                <!--TODO -->
                <!--<ons-list-item>Cさん：へー-->
                    <!--<button class="button button--outline">ナニソレ？</button>-->
                    <!--<label class="checkbox" style="float:left; margin-right:10px;">-->
                        <!--<input type="checkbox"/>-->

                        <!--<div class="checkbox__checkmark"></div>-->
                    <!--</label>-->
                <!--</ons-list-item>-->
                <!--<ons-list-item>Dさん：なるほろ-->
                    <!--<button class="button button--outline">ユニーク！</button>-->
                    <!--<label class="checkbox" style="float:left; margin-right:10px;">-->
                        <!--<input type="checkbox"/>-->

                        <!--<div class="checkbox__checkmark"></div>-->
                    <!--</label>-->
                <!--</ons-list-item>-->
                <!--<ons-list-item>Eさん：わかりません =-->
                    <!--<button class="button button--outline">いいね！</button>-->
                    <!--<label class="checkbox" style="float:left; margin-right:10px;">-->
                        <!--<input type="checkbox"/>-->

                        <!--<div class="checkbox__checkmark"></div>-->
                    <!--</label>-->
                <!--</ons-list-item>-->
            </ons-list>
        </ons-list-item>

        <!--<ons-list-header style="background-color: #F2EFEF; padding:10px; font-weight: bold;">英語<br>-->
            <!--答え：btw&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--</ons-list-header>-->
        <!--<ons-list-item>-->
            <!--<ons-list class="bg_green">-->
                <!--<ons-list-item>-->
                    <!--<button class="button button--outline">いいね！</button>-->
                    <!--<button class="button button--outline">ナニソレ？</button>-->
                    <!--<button class="button button--outline">ユニーク！</button>-->
                <!--</ons-list-item>-->
                <!--<ons-list-item>Aさん：by the way の省略は？-->
                    <!--<label class="checkbox" style="float:left; margin-right:10px;">-->
                        <!--<input type="checkbox" checked/>-->

                        <!--<div class="checkbox__checkmark"></div>-->
                    <!--</label>-->
                <!--</ons-list-item>-->
                <!--<ons-list-item>Bさん：ところで-->
                    <!--<label class="checkbox" style="float:left; margin-right:10px;">-->
                        <!--<input type="checkbox"/>-->

                        <!--<div class="checkbox__checkmark"></div>-->
                    <!--</label>-->
                <!--</ons-list-item>-->
                <!--<ons-list-item>Cさん：へー-->
                    <!--<button class="button button--outline">ナニソレ？</button>-->
                    <!--<label class="checkbox" style="float:left; margin-right:10px;">-->
                        <!--<input type="checkbox"/>-->

                        <!--<div class="checkbox__checkmark"></div>-->
                    <!--</label>-->
                <!--</ons-list-item>-->
                <!--<ons-list-item>Dさん：なるほろ-->
                    <!--<button class="button button--outline">ユニーク！</button>-->
                    <!--<label class="checkbox" style="float:left; margin-right:10px;">-->
                        <!--<input type="checkbox"/>-->

                        <!--<div class="checkbox__checkmark"></div>-->
                    <!--</label>-->
                <!--</ons-list-item>-->
                <!--<ons-list-item>Eさん：わかりません =-->
                    <!--<button class="button button--outline">いいね！</button>-->
                    <!--<label class="checkbox" style="float:left; margin-right:10px;">-->
                        <!--<input type="checkbox"/>-->

                        <!--<div class="checkbox__checkmark"></div>-->
                    <!--</label>-->
                <!--</ons-list-item>-->
            <!--</ons-list>-->
        <!--</ons-list-item>-->
    </ons-list>

</div>