<div ng-controller="QuestionController">
    <ons-toolbar fixed-style class="mainNav">
        <div class="left" ng-click="backToPage();">
            <ons-toolbar-button>
                <ons-icon icon="ion-chevron-left"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center" onclick="menu.toggleMenu()">
            <div class="center c_white">社会</div>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.setMainPage('notice.html' , { closeMenu: true } );">
                <ons-icon icon="fa-bell">5</ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button onclick="menu.toggleMenu()">
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list>
        <ons-list-header style="background-color: #F2EFEF; padding:10px; font-weight: bold;"> 
            <img src="img/answers/zabi.png" class="logoImg">
                <br>答え：<strong style=" font-size:20px;">フランシスコ・ザビエル</strong>

        </ons-list-header>
        <ons-list-item>

            <p style="line-height: normal; padding: 10px 0;margin: 0;font-size: 15px;">
                <textarea class="textarea" placeholder="問題を入力してね" style="width: 80%"></textarea>
                <button class="button button--outline" ng-click="submitQuestion();">送信</button>
            </p>

        </ons-list-item>

        <ons-list-header style="background-color: #F2EFEF; padding:10px; font-weight: bold;">みんなの作った問題&nbsp;&nbsp;&nbsp;&nbsp;
            <!--<button class="button button--outline" ng-click="testFunc(1);">いいね！</button>-->
            <!--<button class="button button--outline" ng-click="testFunc(2);">ナニソレ？</button>-->
            <!--<button class="button button--outline" ng-click="testFunc(3);">ユニーク！</button>-->
        </ons-list-header>
        <ons-list-item id="answers">
            <ons-list class="bg_green">
                <ons-list-item class="question" style="line-height:70px;"><span class="text">あなた：日本にキリスト教を伝えたひとはだれですか？</span>
                		<div class="button_box">
                    		<div class="ukeru_button"></div>
                    		<div class="sasuga_button"></div>
                    	</div>
                </ons-list-item>
                <ons-list-item class="question" style="line-height:70px;"><span class="text">こーのりん：神田教会に遺骨が安置されているのは誰でしょうか？</span>
                		<div class="button_box">
                    		<div class="ukeru_button"></div>
                    		<div class="sasuga_button"></div>
                    	</div>
                </ons-list-item>
                <ons-list-item class="question" style="line-height:70px;"><span class="text">おおえ：「日本人は何よりも名誉を重んじます。」と言ったひとは？</span>
                		<div class="button_box">
                    		<div class="ukeru_button"></div>
                    		<div class="sasuga_button"></div>
                    	</div>
                </ons-list-item>
                <ons-list-item class="question" style="line-height:70px;"><span class="text">Tomiyama：これは誰？</span><img src="img/answers/zabi0.jpg"/>
                		<div class="button_box">
                    		<div class="ukeru_button"></div>
                    		<div class="sasuga_button"></div>
                    	</div>
                </ons-list-item>
                <ons-list-item class="question" style="line-height:70px;"><span class="text">オーシマ：</span><img src="img/answers/zabi3.jpg"/>
                		<div class="button_box">
                    		<div class="ukeru_button"></div>
                    		<div class="sasuga_button"></div>
                    	</div>
                </ons-list-item>
                <ons-list-item class="question" style="line-height:70px;"><span class="text">テヅカ：</span><img src="img/answers/zabi4.jpg"/>
                		<div class="button_box">
                    		<div class="ukeru_button"></div>
                    		<div class="sasuga_button"></div>
                    	</div>
                </ons-list-item>
                <ons-list-item class="question" style="line-height:70px;"><span class="text">イシザキ：</span><img src="img/answers/zabi1.jpg"/>
                		<div class="button_box">
                    		<div class="ukeru_button"></div>
                    		<div class="sasuga_button"></div>
                    	</div>
                </ons-list-item>

            </ons-list>
        </ons-list-item>
    </ons-list>

</div>