<div ng-controller="QuestionController">

    <ons-toolbar fixed-style class="mainNav">
        <div class="left" ng-click="backToPage();">
            <ons-toolbar-button>
                <ons-icon icon="ion-chevron-left"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center" onclick="menu.toggleMenu()">
            <div class="center c_white">社会 : Level-10</div>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.setMainPage('notice.html' , { closeMenu: true } );">
                <ons-icon icon="fa-bell">5</ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button onclick="menu.toggleMenu()">
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list>
        <ons-list-header style="background-color: #F2EFEF; padding:10px; font-weight: bold;">答え：
            <img src="img/answers/zabi3.jpg" style="width: 30%;">
        </ons-list-header>
        <ons-list-item>
            <p style="line-height: normal; padding: 10px 0;margin: 0;font-size: 15px;">
                <textarea class="textarea" placeholder="問題を入力してね" style="width: 80%"></textarea>

                <img src="img/answers/zabi1.jpg" class="logoImg">

                <button class="button button--outline" ng-click="testFunc();">送信</button>
            </p>

        </ons-list-item>

        <ons-list-header style="background-color: #F2EFEF; padding:10px; font-weight: bold;">みんなの作った問題&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button button--outline" ng-click="testFunc(1);">いいね！</button>
            <button class="button button--outline" ng-click="testFunc(2);">ナニソレ？</button>
            <button class="button button--outline" ng-click="testFunc(3);">ユニーク！</button>
        </ons-list-header>
        <ons-list-item>
            <ons-list class="bg_green">
                <ons-list-item>Aさん：
                    <img src="img/answers/zabi2.jpg" style="width: 30%;">
                    <label class="checkbox" style="float:left; margin-right:10px;">
                        <input type="checkbox" checked/>

                        <div class="checkbox__checkmark"></div>
                    </label>
                </ons-list-item>
                <ons-list-item>Bさん：
                    <img src="img/answers/zabi3.jpg" style="width: 30%;">
                    <label class="checkbox" style="float:left; margin-right:10px;">
                        <input type="checkbox"/>

                        <div class="checkbox__checkmark"></div>
                    </label>
                </ons-list-item>
                <ons-list-item>Cさん：
                    <img src="img/answers/zabi4.jpg" style="width: 30%;">
                    <button class="button button--outline">ナニソレ？</button>
                    <label class="checkbox" style="float:left; margin-right:10px;">
                        <input type="checkbox"/>

                        <div class="checkbox__checkmark"></div>
                    </label>
                </ons-list-item>
                <ons-list-item>Dさん：
                    <img src="img/answers/zabi4.jpg" style="width: 30%;">
                    <button class="button button--outline">ユニーク！</button>
                    <label class="checkbox" style="float:left; margin-right:10px;">
                        <input type="checkbox"/>

                        <div class="checkbox__checkmark"></div>
                    </label>
                </ons-list-item>
                <ons-list-item>Eさん：わかりません =
                    <button class="button button--outline">いいね！</button>
                    <label class="checkbox" style="float:left; margin-right:10px;">
                        <input type="checkbox"/>

                        <div class="checkbox__checkmark"></div>
                    </label>
                </ons-list-item>

            </ons-list>
        </ons-list-item>
    </ons-list>

</div>