/* 汎用スタイル
   ========================================================================== */

/*色*/
.c_white{
    color: #244DDB;
}

/* TOP画面
   ========================================================================== */
.startbutton {
	padding: 10px 20px;
}
.logImgArea {
    text-align: center;
    width: 100%;
    margin: 5px auto;
    padding-top: 50px;
}

.logoImg {
    /*width: 120px;*/
    width: 50%;
}

#answers {
	-webkit-transform: scale3d(1, 0, 1);
	-webkit-transition-duration: 300ms;
	-webkit-transform-origin-y: 0;
}
.question {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: start;
	max-width: 100%;
}
.text {
	display: inline;
}
.button_box {
	display: -webkit-box;
	-webkit-box-align: center;	
}
.ukeru_button, .sasuga_button {
	-webkit-appearance: none;
	width: 100px;
	height: 45px;
	background-size: 100px 45px;	
}
.ukeru_button {
	background-image: url(../img/ukeru_button.png);
}
.sasuga_button {
	background-image: url(../img/sasuga_button.png);
}

/* 共通
   ========================================================================== */
.halfImg{
    width: 50%;
    height: 100px;
}