/* 汎用スタイル
   ========================================================================== */

/*色*/
.c_white{
    color: #244DDB;
}

/* TOP画面
   ========================================================================== */
.logImgArea {
    text-align: center;
    width: 100%;
    margin: 5px auto;
    padding-top: 50px;
}

.logoImg {
    /*width: 120px;*/
    width: 50%;
}

#answers {
	-webkit-transform: scale3d(1, 0, 1);
	-webkit-transition-duration: 300ms;
	-webkit-transform-origin-y: 0;
}

/* 共通
   ========================================================================== */
.halfImg{
    width: 50%;
    height: 100px;
}